---
// src/pages/index.astro
import MainLayout from "@/layouts/main.astro";
import {
    FAQAndFootersection,
    PublicHeader,
    HeroSection,
    FeaturesSection,
} from "@/modules/marketing";
---

<MainLayout>
    <header>
        <PublicHeader client:visible />
    </header>
    <main>
        <HeroSection />
        <FeaturesSection />
    </main>
    <footer>
        <FAQAndFootersection client:visible />
    </footer>
</MainLayout>
