---
// src/pages/sign-up.astro
import MainLayout from "@/layouts/main.astro";
import "@/styles/global.css";
---


<MainLayout>
    <main class="flex w-full h-dvh overflow-hidden justify-center items-center">
        <slot/>
    </main>
</MainLayout>